.about h1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 3%;
}

h1 span {
    margin-top: 20px;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about p {
    text-align: center;
    color: black;
    max-width: 40%;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.collage2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.name {
    color: black;
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.position {
    color: black;
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

.texts {
    font-weight: 300;
    font-size: small;
    color: black;
}

.row3, .row4 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.image-placeholder2 {
    width: 175px;
    height: 200px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
}

.image-placeholder {
    width: 300px;
    height: 350px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-placeholder3 {
    width: 300px;
    height: 350px;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about h3 {
    font-weight: bolder;
    font-size: medium;
}

.about h4 {
    font-size: medium;
}

.about h2 {
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
}
