.schedule, .patientInfoHist {
    margin-top: 75px;
}

.outside-table {
    width: 75%;
    height: auto;
    background: rgba(217, 217, 217, 0.2);
    justify-self: center;
    margin-top: 100px;
    margin-bottom: 20px;
    border-radius: 0 0 20px 20px;
}

.header {
    background: #5D6E7E;
    height: 60px;
    padding: 7px 15px;
}
.schedule .outside-table .header .left {
    display: flex;
    flex-direction: row;
}
.schedule .outside-table .header .left img {
    width: 45px;
    height: 45px;
}
.schedule .outside-table .header .left .profile {
    justify-self: center;
    align-self: center;
}
.schedule .outside-table .header .left .profile .name {
    background: none;
    width: 170px;
    height: 20px;
    color: white;
    border: none;
    font-weight: 700;
    font-size: medium;
}
.schedule .outside-table .header .left .profile p {
    color: white;
    border: none;
    font-weight: 500;
    font-size: small;
    margin-left: 14px;
}

.schedule .outside-table .body .paging {
    margin-top: 10px; 
}

.table-container {
    max-width: 100%;
    overflow-x: hidden;
    margin: 10px;
  }

.table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  td {
    background-color: #D9D9D9;
    color: rgba(0, 0, 0, 0.6);
  }
  
  th, td.patient, td.procedure, td.patient-notes {
    white-space: nowrap; 
  }
  
  .checkbox-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
  }
  
  .checkbox-container input {
    margin-right: 5px;
  }

.patientInfoHist .outside-table .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patientInfoHist .outside-table .header .left h1 {
  font-size: x-large;
  font-weight: bold;
  color: white;

}

.patientInfoHist .outside-table .header .right button{
  border-radius: 50px;
  width: 200px;
  height: 30px;
  background: #D9D9D9;
  color: #5D6E7E;
  border: none;
}

.patientInfoHist .outside-table .header .right button:hover{
  background: #999999;
  color: #fff;
}
  
