.container-sl { 
    width: 100%;
    padding: 0 10%;
}

.container-sl h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

.container-sl .top {
    height: auto;
    margin: 5% 0;
    padding: 50px;
    text-align: center;
}

.collapsible-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.collapsible-header h1 {
    font-size: 1.5em;
    margin: 0;
}

.collapsible-header button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.collapsible-header button:hover {
    color: #007bff;
}

.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

@media (max-width: 768px) {
    .collage {
        grid-template-columns: 1fr;
    }
}

.service-item {
    display: flex;
    flex-direction: column;
}

.image-placeholder {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-placeholder h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.image-placeholder p {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
}

.image-placeholder .texts {
    opacity: 40%;
}

.image-placeholder .texts:hover {
    opacity: 100%;
}

.drawer-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.drawer-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.drawer-content table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
    width: 80%;
}

.drawer-content table th,
.drawer-content table td {
    padding: 10px;
    text-align: left;
}

.drawer-content table th {
    font-weight: bold;
}

.drawer-content table td {
    border-bottom: 1px solid #ddd;
}

.image-placeholder-content {
    justify-self: center;
    width: 70%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container-sl {
        padding: 5% 5%;
    }
}

@media (max-width: 480px) {
    .collage {
        grid-template-columns: 1fr;
    }
}
